<div class="list-container">
  <mat-list *ngIf="!!clients.length"        class="client-list-item">
    <mat-list-item 
      class="item-container"
      *ngFor="let client of clients|search:temp" 
      (click)="selectedClient(client)"
      [ngClass] = "{'selected':selected === client}">
        <client-item [client]="client">
        </client-item>
    </mat-list-item>
  </mat-list>
  <div class="error-message" *ngIf="!!clients.length">
      <p>No matches found! Try again.</p>
  </div>
</div>
